@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<head>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/bootstrap.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6">
                <h2>Genel Bilgiler</h2>
                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltip01">Ad</label>
                            <input type="text" class="form-control" id="validationTooltip01" placeholder="Ad" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltip02">Soyad</label>
                            <input type="text" class="form-control" id="validationTooltip02" placeholder="Soyad" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationTooltip03">Şirket</label>
                            <input type="text" class="form-control" id="validationTooltip03" placeholder="Şirket" required>
                            <div class="valid-tooltip">
                                Looks good!
                            </div>
                        </div>

                    </div>
                    <button class="btn btn-primary" type="submit">Rehbere Kaydet</button>
                </form>
            </div>

            <div class="col-md-6 col-sm-6 col-lg-6">
                <h2>İletişim Bilgileri</h2>
                    <form class="needs-validation" novalidate>
                        <div class="form-row">
                            <div class="row" style="margin-bottom:20px;">
                                <div class="col-md-6 col-sm-6">
                                    <label for="validationTooltip01">Telefon</label>
                                    <input type="text" class="form-control" id="validationTooltip01" placeholder="Telefon" required>
                                    <div class="valid-tooltip">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label for="validationTooltip02">E-Mail</label>
                                    <input type="text" class="form-control" id="validationTooltip02" placeholder="E-Mail" required>
                                    <div class="valid-tooltip">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label for="validationTooltip03">Lokasyon</label>
                                    <input type="text" class="form-control" id="validationTooltip03" placeholder="Lokasyon" required>
                                    <div class="valid-tooltip">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label for="validationTooltip04">Bilgi İçeriği</label>
                                    <input type="text" class="form-control" id="validationTooltip04" placeholder="Bilgi İçeriği" required>
                                    <div class="valid-tooltip">
                                        Looks good!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-outline-success" type="button">İletişim Bilgisini Ekle</button>
                    </form>

                
            </div>
        </div>
  
    </div>


</body>
